<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/food/create" method="POST">
        <input type="text" name="name" placeholder="name">
        <input type="number" name="price" placeholder="price" required>
        <input type="text" name="category" placeholder="category" required>
        <input type="text" name="description" placeholder="description" required>
        <input type="text" name="createdBy" placeholder="createdBy" required>

        <input type="submit">add</input>
    </form>
</body>
</html>