<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="resetingpassword" method="post">
        <input type="text" name="otp" placeholder="otp">
        <input type="text" name="password" placeholder="password" id="">
        <input type="submit" name="" id="">
    </form>
    <h1>hoo</h1>
</body>
</html>